@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Impact', sans-serif;
    background-color: #284764;
    margin: 0;
    padding: 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header a {
    text-decoration: none;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    color: #3a3a3a;
    margin: 0;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

section h2 {
    font-size: 24px;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section li {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

#bluebutton {
    background: #3d038c;
    font-size: 16px;
    font-weight: 700;
    background-color: #3d038c; /* Couleur jaune-or */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



#bluebutton:hover {
    background-color: #000; /* Couleur jaune-or foncée au survol */
}

#bxbtimage {
    width: 75%;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border: 2px solid #ccc;
    padding: 4px;
}

container {
    max-width: 10%;
}
row {
    flex: 1;
}
col {
    flex: 1;
}


section button:hover {
    background-color: #d4af37; /* Couleur jaune-or foncée au survol */
}

footer {
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-top: 40px;
}
